doctype html
head
  title Patrons
  link(rel='stylesheet', href='stylesheets/style.css')
nav
  ul
    li
      a(href='all_books.html') Books
    li
      a(href='all_patrons.html') Patrons
    li
      a(href='all_loans.html') Loans
h1 Patrons
p
  a.button(href='new_patron.html') Create New Patron
table
  thead
    tr
      th Name
      th Address
      th Email
      th Library ID
      th Zip
  tbody
    tr
      td
        a(href='patron_detail.html') Andrew Chalkley
      td 1234 NE 20st St
      td andrew.chalkley@teamtreehouse.com
      td MCL1001
      td 90210
    tr
      td
        a(href='patron_detail.html') Dave McFarland
      td 5252 NW 2nd St
      td dave.mcfarland@teamtreehouse.com
      td MCL1010
      td 90210
    tr
      td
        a(href='patron_detail.html') Alena Holligan
      td 1404 SW 101st St
      td alena.holligan@teamtreehouse.com
      td MCL1100
      td 91210
    tr
      td
        a(href='patron_detail.html') Michael Poley
      td 7070 NE 10th Ave
      td michael.poley@teamtreehouse.com
      td MCL1011
      td 91310
