include partials/_head
include partials/_nav

body
  h1 Books
  p
    a.button(href='new_book.html') Create New Book
  p
    | Filters
    a(href='all_books.html')  All |
    a(href='overdue_books.html')  Overdue |
    a(href='checked_books.html')  Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href="FIX THIS") #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.first_published}
