<!DOCTYPE html>
<html>

<head>
    <title>Patrons</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav>
    <ul>
        <li><a href="all_books.html">Books</a></li>
        <li><a href="all_patrons.html">Patrons</a></li>
        <li><a href="all_loans.html">Loans</a></li>
    </ul>
</nav>

<body>
    <h1>Patrons</h1>
    <p> <a href="new_patron.html" class="button">Create New Patron</a></p>
    <table>
        <thead>
            <tr>
                <th>Name </th>
                <th>Address</th>
                <th>Email</th>
                <th>Library ID</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="patron_detail.html">Andrew Chalkley</a></td>
                <td>1234 NE 20st St</td>
                <td>andrew.chalkley@teamtreehouse.com</td>
                <td>MCL1001</td>
                <td>90210</td>
            </tr>
            <tr>
                <td><a href="patron_detail.html">Dave McFarland</a></td>
                <td>5252 NW 2nd St</td>
                <td>dave.mcfarland@teamtreehouse.com</td>
                <td>MCL1010</td>
                <td>90210</td>
            </tr>
            <tr>
                <td><a href="patron_detail.html">Alena Holligan</a></td>
                <td>1404 SW 101st St</td>
                <td>alena.holligan@teamtreehouse.com</td>
                <td>MCL1100</td>
                <td>91210</td>
            </tr>
            <tr>
                <td><a href="patron_detail.html">Michael Poley</a></td>
                <td>7070 NE 10th Ave</td>
                <td>michael.poley@teamtreehouse.com</td>
                <td>MCL1011</td>
                <td>91310</td>
            </tr>
        </tbody>
    </table>
</body>

</html>