include partials/_head
include partials/_nav

h1 Book: A Brief History of Time
form
  p
    label(for='title') Title
    input#title(type='text', value='A Brief History of Time')
  p
    label(for='author') Author
    input#author(type='text', value='Stephen Hawking')
  p
    label(for='genre') Genre
    input#genre(type='text', value='Non Fiction')
  p
    label(for='first_published') First Published
    input#first_published(type='text', value='1988')
  p
    input(type='submit', value='Update')
h2 Loan History
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    tr
      td
        a(href='book_detail.html') A Brief History of Time
      td
        a(href='patron_detail.html') Andrew Chalkley
      td 2015-12-12
      td 2015-12-19
      td
      td
        a.button(href='return_book.html') Return Book
