include partials/_head
include partials/_nav

h1 New Book
form
  h2.error Oooops!
  ul.error
    li Author is required
  p
    label(for='title') Title
    input#title(type='text')
  p
    label(for='author') Author
    input#author(type='text')
  p
    label(for='genre') Genre
    input#genre(type='text')
  p
    label(for='first_published') First Published
    input#first_published(type='text')
  p
    input(type='submit', value='Create New Book')
