<!DOCTYPE html>
<html>
<head>
  <title>Library Manager</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<nav>
  <ul>
    <li><a href="all_books.html">Books</a></li>
    <li><a href="all_patrons.html">Patrons</a></li>
    <li><a href="all_loans.html">Loans</a></li>
  </ul>
</nav>

<body>
  <h1>Library Manager</h1>
  <p>Welcome to Library Manager</p>
  <ul>
    <li>
      Books
      <ul>
        <li><a href="/books/new">New Book</a></li>
        <li><a href="all_books.html">List All</a></li>
        <li><a href="/books?filter=overdue">List Overdue</a></li>
        <li><a href="/books?filter=checked_out">List Checked Out</a></li>
      </ul>
    </li>
    <li>Patrons
      <ul>
        <li><a href="/patrons/new">New Patron</a></li>
        <li><a href="all_patrons.html">List All</a></li>
      </ul>
    </li>
    <li>Loans
      <ul>
        <li><a href="new_loan.html">New Loan</a></li>
        <li><a href="all_loans.html">List All</a></li>
        <li><a href="overdue_loans.html">List Overdue</a></li>
        <li><a href="checked_loans.html">List Checked Out</a></li>
      </ul>
    </li>
  </ul>
</body>
</html>
