<!DOCTYPE html>
<html>

<head>
    <title>New Patron</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav>
    <ul>
        <li><a href="all_books.html">Books</a></li>
        <li><a href="all_patrons.html">Patrons</a></li>
        <li><a href="all_loans.html">Loans</a></li>
    </ul>
</nav>

<body>
    <h1>New Patron</h1>
    <form>
        <p> <label for="first_name">First Name</label><input id="first_name" type="text"></p>
        <p> <label for="last_name">Last Name</label><input id="last_name" type="text"></p>
        <p><label for="address"> Address</label><input id="address" type="text"></p>
        <p><label for="email">Email</label><input id="email" type="text"></p>
        <p> <label for="library_id">Library ID</label><input id="library_id" type="text"></p>
        <p><label for="zip_code">Zip Code</label><input id="zip_code" type="text"></p>
        <p><input type="submit" value="Create New Patron"></p>
    </form>
</body>

</html>