include partials/_head
include partials/_nav

h1 New Book
form(method="post")
  if error
    include partials/_error
  p
    label(for='title') Title
    input#title(type='text' name='title')
  p
    label(for='author') Author
    input#author(type='text' name='author')
  p
    label(for='genre') Genre
    input#genre(type='text' name='genre')
  p
    label(for='first_published') First Published
    input#first_published(type='text' name='first_published')
  p
    input(type='submit', value='Create New Book')
