include partials/_head
include partials/_nav

h1 New Loan
form(method="post")
  p
    label(for='book_id') Book
    select#book_id
      each book in books
        option(value=book.id) #{book.title}
  p
    label(for='patron_id') Patron
    select#patron_id
      option(value='1') Andrew Chalkley
      option(value='2') Dave McFarland
      option(value='3') Alena Holligan
      option(value='4') Michael Poley
  p
    label(for='loaned_on') Loaned on:
    input#loaned_on(type='text', value='Sun May 22 2016 17:00:00 GMT-0700 (PDT)')
  p
    label(for='return_by') Return by:
    input#return_by(type='text', value='Sun May 29 2016 17:00:00 GMT-0700 (PDT)')
  p
    input(type='submit', value='Create New Loan')
