doctype html
head
  title Overdue Books
  link(rel='stylesheet', href='stylesheets/style.css')
nav
  ul
    li
      a(href='all_books.html') Books
    li
      a(href='all_patrons.html') Patrons
    li
      a(href='all_loans.html') Loans
h1 Overdue Books
p
  a.button(href='new_book.html') Create New Book
p
  | Filters
  a(href='all_books.html') All
  |  |
  a(href='overdue_books.html') Overdue
  |  |
  a(href='checked_books.html') Checked Out
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year Released
  tbody
    tr
      td
        a(href='book_detail.html') Harry Potter and the Goblet of Fire
      td J.K. Rowling
      td Fantasy
      td 2000
    tr
      td
        a(href='book_detail.html') A Brief History of Time
      td Stephen Hawking
      td Non Fiction
      td 1988
    tr
      td
        a(href='book_detail.html') The Universe in a Nutshell
      td Stephen Hawking
      td Non Fiction
      td 2001
