<!DOCTYPE html>
<html>

<head>
    <title>Andrew Chalkley</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav>
    <ul>
        <li><a href="all_books.html">Books</a></li>
        <li><a href="all_patrons.html">Patrons</a></li>
        <li><a href="all_loans.html">Loans</a></li>
    </ul>
</nav>

<body>
    <h1>Patron: Andrew Chalkley</h1>
    <form>
        <p> <label for="first_name">First Name</label><input id="first_name" type="text" value="Andrew"></p>
        <p> <label for="last_name">Last Name</label><input id="last_name" type="text" value="Chalkley"></p>
        <p><label for="address"> Address</label><input id="address" type="text" value="1234 NE 20st St"></p>
        <p><label for="email">Email</label><input id="email" type="text" value="andrew.chalkley@teamtreehouse.com"></p>
        <p> <label for="library_id">Library ID</label><input id="library_id" type="text" value="MCL1001"></p>
        <p><label for="zip_code">Zip Code</label><input id="zip_code" type="text" value="90210"></p>
        <p><input type="submit" value="Update"></p>
    </form>
    <h2>Loan History</h2>
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Patron </th>
                <th>Loaned on</th>
                <th>Return by </th>
                <th>Returned on</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="book_detail.html">Harry Potter and the Goblet of Fire</a></td>
                <td><a href="patron_detail.html">Andrew Chalkley</a></td>
                <td>2015-12-11</td>
                <td>2015-12-18</td>
                <td></td>
                <td><a href="return_book.html" class="button">Return Book</a></td>
            </tr>
            <tr>
                <td><a href="book_detail.html">A Brief History of Time</a></td>
                <td><a href="patron_detail.html">Andrew Chalkley</a></td>
                <td>2015-12-12</td>
                <td>2015-12-19</td>
                <td></td>
                <td><a href="return_book.html" class="button">Return Book</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>