include partials/_head
include partials/_nav

h1 Patron: Return Book
p
  strong Book Title:
  | Harry Potter and the Goblet of Fire
p
  strong Loaned By:
  | Andrew Chalkley
p
  strong Loaned On:
  | 2015-12-11
p
  strong Return By:
  | 2015-12-18
form
  p
    label(for='returned_on') Returned on:
    input#returned_on(type='text', value='2020-10-10')
  p
    input(type='submit', value='Return Book')
